@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --dark-violet: #21092f;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(270, 3%, 87%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    width: 1440px;
    height: 100vh;
}

.main {
    margin-top: 30px;
    margin: 30px auto;
    width: 1400px;
    height: 900px;
    border: 1px solid #21092f;
    border-radius: 5px;
    display: block;
}

.bg-desktop {
    display: flex;
    position: absolute;
    z-index: -1;
}

.card-front {
    width: 40%;
    position: relative;
    margin: 150px 0 0 180px;
}

.card-f {
    display: flex;
    position: absolute;
    z-index: -1;
}

.circle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 40px;
}

.circle1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
}

.circle2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.details-front  {
    width: 450px;
    height: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.details-front .number {
    font-size: 35px;
    margin: 0 auto;
}

.name-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px
}

.card-back {
    width: 40%;
    position: relative;
    margin: 150px 0 0 280px;
}

.card-b {
    display: flex;
    position: absolute;
    z-index: -1;
} 

.details-back {
    width: 450px;
    height: 240px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.details-back label {
    padding-right: 60px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    color: #fff;
}

.container-form {
    margin-top: 0;
}

.form-details {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    height: 450px;
    width: 40%;
    margin-right: 0;
    margin-top: -550px;
    padding-right: 50px;
}

.form-details div {
    padding: 5px 0;
}

.f-details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.date-container, .cvc-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.date-input-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}
.form-details label {
    padding: 5px;
}

.form-details input {
    padding: 15px;
    margin: 0 5px;
}

.confirm {
    margin: 15px 0;
}

.form-details input {
    border-radius: 10px;
    height: 45px;
}

#date {
    width: 70px;
    display: flex;
}

#cvc {
    width: 245px;
    display: flex;
}

.lab {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-violet);
    margin-top: 15px;
}

.confirm {
    height: 50px;
    border-radius: 10px;
    background-color: var(--dark-violet);
    color: #fff;
    font-size: 18px;
}

/* font-family -- font-family: 'Space Grotesk', sans-serif; */